.adavantages {
  background-image: url("../img/advantages-bg-desktop.png");
  background-color: rgba(191, 215, 239, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/advantages-bg-desktop@2x.png");
    background-color: rgba(191, 215, 239, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.adavantages__container {
  @include vp-1023 {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-767 {
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-319 {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.adavantages__title {
  margin: 0;
  font-weight: 600;
  text-align: center;

  @include vp-1023 {
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 42px;
  }


  @include vp-767 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-319 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }
}

.adavantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include vp-319 {
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 30px;
  }
}

.adavantages__list-item {
  position: relative;
  background-color: rgba(249, 251, 253, 1);

  @include vp-1023 {
    padding-top: 87px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background-repeat: no-repeat;

    &:nth-child(1n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/vector-1.svg");
      left: 30px;
      top: 30px;
      width: 27px;
      height: 32px;
    }

    &:nth-child(2n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/vector-2.svg");
      left: 30px;
      top: 30px;
      width: 38px;
      height: 21px;
    }

    &:nth-child(3n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/vector.svg");
      left: 30px;
      top: 30px;
      width: 42px;
      height: 15px;
    }
  }

  @include vp-319 {
    padding-top: 76px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    background-repeat: no-repeat;


    &:nth-child(1n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/Vector-1.svg");
      left: 20px;
      top: 25px;
      width: 21px;
      height: 26px;
    }

    &:nth-child(2n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/vector-2.svg");
      left: 20px;
      top: 29px;
      width: 33px;
      height: 19px;
    }

    &:nth-child(3n)::before {
      content: "";
      position: absolute;
      background-image: url("../img/vector.svg");
      left: 20px;
      top: 32px;
      width: 38px;
      height: 13px;
    }
  }
}

.adavantages__list-item-name {
  margin: 0;
  font-weight: 500;
  word-wrap: break-word;
  width: auto;

  @include vp-1023 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    max-width: 296px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    // width: 170px;
  }

  @include vp-319 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    // width: 170px;
  }
}

.adavantages__list-item-description {
  margin: 0;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 19px;
  width: auto;

  @include vp-1023 {
    max-width: 288px;
  }
}
