.adavantages {
  background-image: url("../img/advantages-bg-desktop.png");
  background-color: rgba(191, 215, 239, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/advantages-bg-desktop@2x.png");
    background-color: rgba(191, 215, 239, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-767 {
    padding-top: 120px;
    transform: translateY(-113px);
  }
}

.adavantages__container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 106px;
  padding-bottom: 120px;
  padding-left: 10px;
  padding-right: 10px;

  @include vp-1023 {
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 5px;
    transform: translateY(-58px);
  }
}

.adavantages__title {
  margin: 0;
  font-weight: 600;
  text-align: center;
  margin-bottom: 48px;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 36px;
  }
}

.adavantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
  margin-right: -10px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 30px;
  }
}

.adavantages__list-item {
  position: relative;
  background-color: rgba(249, 251, 253, 1);
  padding-top: 73px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;

  @include vp-1023 {
    padding-top: 72px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 13px;
  }
}

.adavantages__item-boat::before {
  content: "";
  position: absolute;
  background-image: url("../img/boat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 30px;
  top: 22px;
  width: 27px;
  height: 32px;

  @include vp-1023 {
    left: 20px;
    top: 25px;
    width: 21px;
    height: 26px;
  }
}

.adavantages__item-checked::before {
  content: "";
  position: absolute;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 30px;
  top: 30px;
  width: 38px;
  height: 21px;

  @include vp-1023 {
    left: 20px;
    top: 29px;
    width: 33px;
    height: 19px;
  }
}

.adavantages__item-speedboat::before {
  content: "";
  position: absolute;
  background-image: url("../img/speedboat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 30px;
  top: 30px;
  width: 42px;
  height: 15px;

  @include vp-1023 {
    left: 20px;
    top: 32px;
    width: 38px;
    height: 13px;
  }
}

.adavantages__list-item-name {
  margin: 0;
  font-weight: 500;
  word-wrap: break-word;
  width: max-content;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 27px;
  max-width: 296px;

  @include vp-1023 {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 25px;
    width: auto;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    width: 170px;
  }
}

.adavantages__list-item-description {
  margin: 0;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 19px;
  width: auto;
  max-width: 247px;

  @include vp-1023 {
    width: auto;
  }
}
