.booking {
  background-image: url("../img/booking-bg-desktop.jpg");
  background-color: rgba(71, 126, 162, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/booking-bg-desktop@2x.png");
    background-color: rgba(71, 126, 162, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/booking-bg-tablet.jpg");
    background-color: rgba(71, 126, 162, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
      background-image: url("../img/booking-bg-tablet@2x.jpg");
      background-color: rgba(71, 126, 162, 1);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    transform: translateY(-102px);
    background-image: url("../img/booking-bg-mobile.jpg");
    background-color: rgba(71, 126, 162, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
      background-image: url("../img/booking-bg-mobile@2x.jpg");
      background-color: rgba(71, 126, 162, 1);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.booking__wrapper {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    width: auto;
    padding-top: 89px;
    padding-bottom: 100px;
    padding-left: 175px;
    padding-right: 175px;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    width: auto;
    padding-top: 59px;
    padding-bottom: 68px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.booking__title {
  font-weight: 700;
  word-wrap: break-word;
  font-size: 40px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
  width: 493px;

  @include vp-1023 {
    font-size: 34px;
    line-height: 51px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
    width: 419px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    width: 194px;
    text-align: center;
  }
}

.booking__description-container {
  @include vp-1023 {
    margin-bottom: 52px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.booking__offer-description {
  word-wrap: break-word;
  font-size: 18px;
  line-height: 27px;
  width: 352px;
  margin: 0;
  text-align: left;
  transform: translateY(10px);

  @include vp-1023 {
    font-size: 18px;
    line-height: 27px;
    width: 352px;
    margin: 0 auto;
    transform: translateY(1px);
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    width: 257px;
    text-align: center;
  }
}
