.contacts {
  @include vp-767 {
    transform: translateY(-98px);
  }
}

.contacts__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1160px;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  @include vp-1279 {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include vp-1023 {
    margin: 0;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include vp-767 {
    width: auto;
    padding-top: 50px;
    padding-bottom: 56px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
}

.contacts__map {
  width: 560px;
  min-width: 324px;
  height: 306px;
  margin-right: 157px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    margin-right: 0;
  }

  @include vp-767 {
    width: auto;
    height: 316px;
    margin-right: 0;
    min-width: unset;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
