.page-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(1, 28, 64, 1);

    @include vp-1023 {
        background-image: url("../img/background-desktop.jpg");
        
        @include  retina {
            background-image: url("../img/background-desktop@2x.jpg");   
        }
    }
    

    @include vp-767 {
        background-image: url("../img/background-tablet.jpg");
        
        @include  retina {
            background-image: url("../img/background-tablet@2x.jpg");   
        }
    }
    
    @include vp-319 {
        height: 538px;
        background-image: url("../img/background-mobile.jpg");
        
        @include  retina {
            background-image: url("../img/background-mobile@2x.jpg");   
        }
    }
}

.page-header__wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @include vp-1023 {
        margin: 0 auto;
        width: 1160px;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 577px;         
    }
    

    @include vp-767 {
        padding-bottom: 593px;
        padding-top: 30px;
        margin: 0;
        width: auto;
        padding-left: 45px;
        padding-right: 45px;
    }
    
    @include vp-319 {
        padding-bottom: 458px;
        padding-top: 20px;
        margin: 0;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.page-header__wrapper--opened {

    @include vp-1023 {
        margin: 0 auto;
        width: 1160px;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 577px;
        background-color: transparent;
        position: relative;         
    }
    

    @include vp-767 {
        padding-bottom: 593px;
        padding-top: 30px;
        margin: 0;
        width: auto;
        padding-left: 45px;
        padding-right: 45px;
        background-color: transparent;
        position: relative;  
    }

    @include vp-319 {
        width: 285px;
        background-color: rgba(249, 251, 253, 1);
        position: absolute;
        right: 0;
    }


}

.page-header__logo-icon {

    @include vp-1023 {
        fill: rgba(249, 251, 253, 1);       
    }
    

    @include vp-767 {
        fill: rgba(249, 251, 253, 1); 
    }

    @include vp-319 {
        fill: rgba(249, 251, 253, 1);
    }
}