.main-offer {
  background-color: transparent;
  z-index: 2;
  transform: translateY(-170px);
  margin-bottom: -170px;

  @include vp-1023 {
    transform: translateY(-270px);
    margin-bottom: -193px;
  }

  @include vp-767 {
    transform: translateY(-223px);
  }
}


.main-offer__wrapper {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 96px;
  padding-right: 198px;
  transform: translateY(-214px);
  overflow: auto;
  height: 200px;

  @include vp-1023 {
    width: auto;
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    transform: translateY(-106px);
  }

  @include vp-767 {
    width: auto;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    // transform: translateY(20px);
  }
}

.main-offer__title {
  color: rgba(249, 251, 253, 1);
  font-weight: 700;
  word-break: break-word;
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 65px;
  width: 636px;
  margin-bottom: 16px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 60px;
    width: 589px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    width: 265px;
    margin-bottom: 10px;
  }
}

.main-offer__description {
  color: rgba(249, 251, 253, 1);
  font-weight: 400;
  word-break: break-word;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  width: 430px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 21px;
    width: 387px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    width: 199px;
  }
}
