.social {
  @include vp-767 {
    margin-top: 26px;
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 28px;

  @include vp-1023 {
    margin-right: 21px;
  }

  @include vp-767 {
    margin-right: 23px;
  }
}
