.tour-catalog__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 120px;
  padding-left: 10px;
  padding-right: 10px;

  @include vp-1023 {
    width: auto;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include vp-767 {
    width: auto;
    padding-top: 53px;
    padding-bottom: 57px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.tour-catalog__title {
  margin: 0 auto;
  font-weight: 600;
  word-wrap: break-word;
  font-size: 28px;
  line-height: 42px;
  width: 302px;
  margin-bottom: 49px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    width: 281px;
    margin-bottom: 52px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    width: 259px;
    margin-bottom: 40px;
  }
}

.tour-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}

.tour-catalog__item {
  background-color: rgba(1, 28, 64, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 386px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 260px;
  width: unset;

  &:hover {
    background-image: none;
  }

  &:focus-visible {
    background-image: none;
  }

  &:hover .tour-catalog__item-options {
    display: flex;
    flex-direction: column;
  }

  &:focus-visible .tour-catalog__item-options {
    display: flex;
    flex-direction: column;
  }

  &:hover .tour-catalog__link {
    display: block;
  }

  &:focus-visible .tour-catalog__link {
    display: block;
  }

  &:hover .tour-catalog__item-name {
    margin-bottom: 25px;
  }

  &:focus-visible .tour-catalog__item-name {
    margin-bottom: 25px;
  }

  @include vp-1023 {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 309px;
    max-width: 309px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: auto;
  }
}

.tour-catalog__astoria {
  background-image: url("../img/tour-1-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    background-image: none;
  }

  &:focus-visible {
    background-image: none;
  }

  @include retina {
    background-image: url("../img/tour-1-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-1-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-1-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-1-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-1-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__elina {
  background-image: url("../img/tour-1-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-1-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-1-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-1-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-1-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-1-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__atlantis {
  background-image: url("../img/tour-3-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-3-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-3-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-3-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-3-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-3-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__odysseus {
  background-image: url("../img/tour-4-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-4-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-4-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-4-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-4-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-4-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__olympia {
  background-image: url("../img/tour-5-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-5-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-5-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-5-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-5-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-5-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__avrora {
  background-image: url("../img/tour-6-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-6-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-6-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-6-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-6-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-6-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__leonor {
  background-image: url("../img/tour-7-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-7-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-7-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-7-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-7-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-7-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__minion {
  background-image: url("../img/tour-8-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/tour-8-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    background-image: url("../img/tour-8-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-8-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/tour-8-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
      background-image: url("../img/tour-8-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tour-catalog__item-name {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(249, 251, 253, 1);
}

.tour-catalog__link {
  color: rgba(1, 28, 64, 1);
  background-color: rgba(249, 251, 253, 1);
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 47px;
  padding-right: 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 30px;
  display: none;
  text-align: center;
}
